
body {
  font-family: Arial;
  margin: 0;
  margin-top: 80px;
}

.barra-superior {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #73b9ff;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.barra-superior a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}
.barra-superior a:hover {
  text-decoration: underline;
  color:red
}
.contenidor {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}
.peu {
  background-color: #1284f7;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 200px;
}


